<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="サンプル・プロジェクト・ビルダー"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.hunglead.harc.plugin.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="サンプル・プロジェクト・ネーチャー"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.hunglead.harc.plugin.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="harc_plugin.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="harc_plugin.contribution1">
         <action
               label="サンプル・ネーチャーの追加/除去"
               class="com.hunglead.harc.plugin.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="harc_plugin.addRemoveNatureAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="harc_plugin.contribution1">
         <menu
               label="新規サブメニュー"
               path="additions"
               id="harc_plugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="新規アクション"
               class="com.hunglead.harc.plugin.popup.actions.EditDataSchemaAction"
               menubarPath="harc_plugin.menu1/group1"
               enablesFor="1"
               id="harc_plugin.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML 問題"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="harc_plugin">
      </category>
      <wizard
            name="マルチページ・エディター・ファイル"
            icon="icons/sample.gif"
            category="harc_plugin"
            class="com.hunglead.harc.plugin.wizards.SampleNewWizard"
            id="com.hunglead.harc.plugin.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="サンプル設定"
            class="com.hunglead.harc.plugin.preferences.SamplePreferencePage"
            id="com.hunglead.harc.plugin.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.hunglead.harc.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
